#ecmManagerToolbar {
	padding: 5px;
	margin:0 auto;
	width: 95%;
	height: 50px;
	background-color: #fafafa;
	border: 1px dashed gray;
}
#ecmManagerToolbar #ecmToolbarLeftPart {
	float:left;
}

#ecmManagerToolbar #ecmPageActions {
	height: 25px;
}

#ecmManagerToolbar #ecmPageAttributes {
	height: 25px;
}

#ecmManagerToolbar ul {
	list-style: none;
}

#ecmManagerToolbar ul li {
	display: inline;
	margin-left: 20px;	
}

#ecmManagerToolbar ul li.first {
	margin-left: 0px;
}

#ecmLoginUser {
	float:right;
	font-weight: bold;
}